body{
    text-align: center;
    font-family: Open Sans,sans-serif ;
    background-color: #8A71C9;
    color: #ffffff;
}

h2{
    color: #2A0074;
}

h3.Infância{
    color: #04ff9f;
}

h3.Juventude{
    color: #FF9E9E;
}